<h2>
  <span class="item-type-label">
    A new <%= item.data.response_type_text&.downcase %> is responding to this need
  </span>
</h2>

<div class="note">
  <%= item.data.name %>
  <% if item.data.url.present? %>
    <em><%= link_to item.data.url %></em>
  <% end %>
</div>
