<% content_for :page_title, "Bookmarks" %>

<section class="need-list page-section">
  <header>
    <h1>Your bookmarked needs</h1>
  </header>

  <%= render partial: "needs/collection", locals: { collection: @needs } %>
</section>
