@import 'tag';

.tag-page-editor {

  .sortable-columns {
    padding: 0;

    .clear {
      clear: both;
    }

    .other-needs, .selected-needs {
      padding-left: 2rem;

      min-height: 75vh;
      float: left;
    }

    .other-needs, .selected-needs {
      padding-bottom: 5rem;
    }

    &.dragging {
      .other-needs, .selected-needs {
        background: #f5f1f9;
        -moz-transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }

    .selected-needs {
      margin-left: 0%;
      padding-right: 1rem;
      min-height: 75vh;
      width: 63%;
      border-radius: 8px;
      padding: 1rem;

      li {
        @include tag-list-need-row;
      }
    }

    .other-needs {
      border: 2px solid #ddd;
      background: #fff;
      padding: 1rem;
      width: 33%;
      margin-right: 2%;

      > h3 {
        margin: 0 0 10px;
        font-size: 16px;
      }

      li {
        @include tag-list-need-row-small;
      }
    }
  }

  .form-actions {
    clear: both;
  }
}
