section.need-main.need-evidence {
  header {
    @include header-panel;
    margin-bottom: 25px;
  }

  p, form {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
  }
}

.evidence {
  overflow: auto;
  padding: 25px;

  h3, .value {
    border-top: 1px solid #bbb;
    padding-top: 19px;
    padding-bottom: 10px;
  }

  h3 {
    float: left;
    clear: both;
    width: 33%;
    font-size: 19px;
    margin: 0;
  }
  .value {
    float: left;
    width: 66%;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.big-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  color: $primary-color;
  margin-bottom: 20px;
}

.big-number-detail {
  font-size: 15px;
  line-height: 1.3;
  padding-top: 5px;
  font-weight: normal;
  display: block;
  color: $primary-color;
}
