section.need-main.need-form {
  > h1, > h2, > h3 {
    @include header-panel;
  }

  form {
    padding: 25px;
  }

  .inputs .radio {
    label {
      display: block;
      background: #eee;
      padding: 15px;
      width: 50%;
    }
    input[type="radio"] {
      position: static;
      margin: 0 10px 0 0;
    }
  }
}
