.the-need {
  @include header-panel;

  em {
    font-style: normal;
  }
}

.need-overview {
  display: flex;
  flex-direction: row;
  padding: 20px 5px;

  .column {
    flex: 1;
  }
}

section.box {
  @include box;

  .empty {
    padding: 15px;
    margin: 0;
  }
}

.box-met-when, .box-proposition {
  ul {
    padding: 15px 25px 5px 35px;
    margin-bottom: 0;
  }
  li {
    font-size: 17px;
    line-height: 1.23em;
    margin-bottom: 11px;
  }
}
.box-proposition h2 {
  margin: 0 0 3px;
  font-size: 17px;
}

.box-tags {
  .tags-list {
    padding: 5px 15px;
  }
  .tags-list > li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    line-height: 1.3;

    ul, h3 {
      display: inline-block;
      font-size: 15px;
    }

    h3 {
      display: block;
      margin: 0 0 7px;
      font-weight: bold;
    }

    ul {
      padding-left: 0px;

      li {
        display: inline-block;
        padding: 3px 6px;
        margin: 0 3px 4px 0;

        background: $primary-color;
        color: #fff;

        font-weight: bold;
      }
    }
  }
}

.box-responses {
  h2 {
    margin: 0;
    font-size: 17px;
    font-weight: normal;
    padding-top: 5px;

    em {
      font-weight: bold;
      font-size: 45px;
      line-height: 1.3;
      font-style: normal;
      display: inline-block;
      padding-bottom: 3px;
    }
  }

  h2, p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.box-actions {
  p {
    padding: 10px 15px 5px;
  }
}

