.need-response {

  header {
    @include header-panel;
    margin-bottom: 20px;

    vertical-align: baseline;

    em {
      font-weight: bold;
      font-size: 38px;
      line-height: 1.3;
      font-style: normal;
      display: inline-block;
      vertical-align: baseline;
      padding-right: 3px;
    }
  }

  .response-list {
    padding: 20px 25px;

    h1 {
      margin: 0;
    }

    li {
      @include box;
      list-style: none;
      margin: 0 0 8px;

      h1 {
        margin-bottom: 7px;
      }
    }

    p {
      padding: 3px 15px;
      margin-bottom: 5px;
    }
  }

  > p {
    padding-left: 25px;
    margin-bottom: 0;
  }

  ul.actions {
    padding-left: 15px;

    li {
      display: inline-block;
    }
  }

  a.action {
    @include button;

    span {
      @extend .glyphicon;
      padding-right: 3px;
    }

    &.edit-action {
      @include button-primary;

      span {
        @extend .glyphicon-pencil;
      }
    }

    &.new-action {
      @include button-primary;

      span {
        @extend .glyphicon-plus;
      }
    }

    &.delete-action {
      @include button-danger;

      span {
        @extend .glyphicon-remove;
      }
    }
  }
}
