.main-alert {
  background: #999;
  font-size: 19px;
  padding: 11px 14px;
  margin-bottom: 20px;
  color: #fff;
  overflow: auto;

  .icon {
    @extend .glyphicon;
    @extend .glyphicon-ok;

    float: left;
    width: 2em;

    padding-right: 10px;
    margin-top: 2px;
  }

  .message {
    float: left;
    width: 85%;
  }

  &.mini {    
    .icon {
      margin-top: 4px;
    }
  }

  a {
    text-decoration: underline;
  }

  &.alert {
    .icon {
      @extend .glyphicon-remove;
    }
  }
}
