.main-alert {
  background: #999;
  font-size: 19px;
  padding: 11px 14px;
  margin-bottom: 20px;
  color: #fff;

  .icon {
    @extend .glyphicon;
    @extend .glyphicon-ok;
    padding-right: 10px;
  }

  .icon, .message {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-top: 4px;
  }

  a {
    text-decoration: underline;
  }

  &.alert {
    .icon {
      @extend .glyphicon-remove;
    }
  }
}
