.main-alert {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0px;

  font-size: 19px;
  padding: 11px 14px;
  margin-bottom: 20px;
  color: #000;
  overflow: auto;
  z-index: 100;
  position: relative;

  .icon {
    @extend .glyphicon;
    @extend .glyphicon-ok;

    float: left;
    width: 2em;

    padding-right: 10px;
    margin-top: 2px;
  }

  .message {
    float: left;
    width: 85%;
  }

  &.mini {
    .icon {
      margin-top: 4px;
    }
  }

  a {
    text-decoration: underline;
  }

  &.alert {
    background: $alert-color;
    color: #fff;
    border: none;

    .icon {
      @extend .glyphicon-remove;
    }
  }
}
