ul.feed {
  padding: 0;

  li.feed-item {
    @extend .row;

    list-style: none;
    margin-bottom: 19px;

    .feed-metadata {
      @extend .col-md-2;

      font-size: 14px;
      color: #666;
      padding-top: 3px;

      .date {
        font-weight: bold;
        font-size: 15px;
      }

      .time {
        display: block;
        font-weight: normal;
      }
    }

    .feed-content {
      @extend .col-md-10;

      .inner {
        border: 1px solid #e7e7e7;
        padding: 13px 15px 15px 13px;
        min-height: 4em;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
      margin: 3px 0 0;
    }

    .note {
      padding: 0;

      p:last-child { margin-bottom: 0; }
    }
  }
}

.feed-add {
  @extend .row;
  margin: 20px 0 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

  form {
    @extend .col-md-10;
    @extend .col-md-offset-2;

    padding: 0;

    .form-group {
      margin-bottom: 5px;
    }

    textarea {
      font-size: 17px;
      max-width: 100%;
    }

    &.inactive {
      textarea {
        max-height: 2.25em;
        resize: none;
      }

      input[type='submit'] {
        display: none;
      }
    }

    &.active {
      textarea {
        font-size: 15px;
        min-height: 4em;
      }
    }
  }
}
