.team-icon {
  background: $green;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  height: 2.3em;
  line-height: 1.4em;
  padding: .4em;
  text-align: center;
  width: 2.3em;
}
