<div class="need-count">
  <em><%= collection.count %></em>
  <%= "need".pluralize(collection.count) %>
</div>

<ul class="need-list">
  <%= render partial: "needs/need_row", collection: collection, as: :need %>
</ul>
