<div class="closed-need">
  <div class="message">
    <h2>This need has been closed</h2>
    <p>
      It is a duplicate of
      <%= link_to "#{need.duplicate_of}: #{canonical_need_goal}", need_path(need.duplicate_of) %>.
    </p>
  </div>

  <div class="reopen-action">
    <p>If this need is no longer a duplicate, you can re-open it.</p>
    <%= button_to "Reopen",
                  reopen_need_path(need),
                  method: "delete" %>
  </div>
</div>
