<% if current_user.can?(:create, Decision) || current_user.can?(:close, Need) %>
  <nav class="need-actions button-group">
    <div class="dropdown-button">
      <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Decide on this need <span></span>
      </button>
      <ul role="menu">
        <% if current_user.can?(:create, Decision) %>
          <% decision_type_options.each do |label, value| %>
            <li><%= link_to label, new_need_decision_path(need, decision_type: value) %></li>
          <% end %>
          <li class="divider"></li>
        <% end %>

        <% if current_user.can?(:close, Need) %>
          <li><%= link_to 'Close as duplicate', close_as_duplicate_need_path(need) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<% end %>
