<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>

<article class="need">
  <%= render partial: 'navigation' %>

  <section class="need-main need-activity">
    <%= render partial: 'activity_items/feed',
               locals: {
                 need: need,
                 activity_items: need.activity_items,
               } %>
  </section>
</article>
