<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'navigation' %>
<% end %>

<article class="need">
  <section class="need-main need-form">
    <header>
      <h1>Close as a duplicate</h1>
    </header>

    <%= render partial: "duplicate_of_need" %>
  </section>
</article>
