<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>

<article class="need">
  <%= render partial: 'navigation' %>

  <section class="need-main need-form">
    <h3>Close as a duplicate</h3>

    <%= render partial: "duplicate_of_need" %>
  </section>
</article>
