<% content_for :page_title, "Edit ##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'navigation' %>
<% end %>

<section class="need-main need-form">
  <header>
    <h1>Edit need</h1>
  </header>

  <%= render partial: "form" %>
</section>
