<% content_for :page_title, "All needs" %>
<h1 class="page-title-with-border">All needs</h1>

<%= render partial: "collection" %>

<%= paginate_needs @needs %>

<%= render partial: "workflow_buttons" %>
