<% content_for :page_title, "Add a new need" %>
<% content_for(:selected_navigation_url, new_need_path) %>

<section class="new-need">
  <header>
    <h1>Add a new need</h1>
  </header>

  <%= render partial: "form" %>
</section>
