<% content_for :page_title, "Edit ##{need.need_id}: #{format_need_goal(need.goal)}" %>

<article class="need">
  <%= render partial: 'needs/navigation' %>

  <section class="need-main need-form">
    <h3>Edit response to this need</h3>

    <%= semantic_form_for [need, need_response], url: need_response_path(need, need_response) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </section>
</article>
