<% content_for :page_title, "Edit ##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'needs/navigation' %>
<% end %>

<article class="need">
  <section class="need-main need-form">
    <header>
      <h1>New response to this need</h1>
    </header>

    <%= semantic_form_for [need, need_response], url: need_responses_path(need) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </section>
</article>
