<div class="no-performance-message">
  <h3>We don't have any performance data for this need.</h3>

  <p>To begin tracking the performance of this need, add a new need response. Analytics data is refreshed daily.</p>
  <p>
    <%= link_to new_need_response_path(need), class: 'btn btn-default' do %>
      <span class="icon" aria-hidden="true"></span>
      Add new response
    <% end %>
  </p>
</div>
