.need-decisions {
  header {
    @extend .row;

    h1 {
      @extend .col-md-8;

      font-size: 27px;
      margin: 25px 0;
    }
  }

  .inputs {
    .radio {
      label {
        display: block;
        background: #eee;
        padding: 15px;
        width: 50%;

        input[type="radio"] {
          position: static;
          margin: 0 10px 0 0;
        }
      }
    }

  }
}
