.need-decisions {
  header {
    @extend .row;

    h1 {
      @extend .col-md-8;

      font-size: 27px;
      margin: 25px 0;
    }
  }

  ul.feed {
    padding: 0;

    li {
      @extend .row;

      list-style: none;
      margin-bottom: 19px;

      .datetime {
        @extend .col-md-2;

        font-size: 15px;
        color: #666;
        padding-top: 3px;
        font-weight: bold;

        .time {
          display: block;
          font-weight: normal;
        }
      }


      .item {
        @extend .col-md-10;

        border: 1px solid #e7e7e7;
        // box-shadow: #f6f6f6 0px 1px 1px;
        // background: #fdfdfd;
        padding: 13px 8px 15px 13px;
        // padding: 0 0 25px 0;
      }

      h2 {
        font-size: 20px;
        font-weight: normal;
        margin: 3px 0 0;
      }

      .note {
        padding: 10px 0 0;

        p:last-child { margin-bottom: 0; }
      }
    }
  }

  .inputs {
    .radio {
      label {
        display: block;
        background: #eee;
        padding: 15px;
        width: 50%;

        input[type="radio"] {
          position: static;
          margin: 0 10px 0 0;
        }
      }
    }

  }
}
