.need-decisions {
  header {
    @extend .row;

    h1 {
      @extend .col-md-8;

      font-size: 27px;
      margin: 25px 0;
    }
    nav {
      @extend .col-md-4;
      margin: 21px 0 0;

      .group {
        float: right;
        @extend .btn-group;
      }
      button {
        @extend .btn;
        @extend .btn-primary;
        @extend .dropdown-toggle;

        span {
          @extend .caret;
        }
      }
      ul {
        @extend .dropdown-menu;
      }
    }
  }

  ul.feed {
    padding: 0;

    li {
      list-style: none;
      padding: 13px 8px 15px 13px;
      margin: 7px 0;

      border: 1px solid #999;
      border-left: 5px solid #19abb6;

      h2 {
        font-size: 22px;
        font-weight: normal;
        margin: 3px 0 0;
      }

      .date {
        font-size: 15px;
        color: #666;
        margin: 0;
      }

      .note {
        padding: 10px 0 0;

        p:last-child { margin-bottom: 0; }
      }
    }
  }

  .inputs {
    .radio {
      label {
        display: block;
        background: #eee;
        padding: 15px;
        width: 50%;

        input[type="radio"] {
          position: static;
          margin: 0 10px 0 0;
        }
      }
    }

  }
}
