.need-list {
  .filters {
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
    }

    ul.filter-list {
      padding-left: 0;
    }
    li.filter-type {
      padding-left: 0;
      list-style: none;
      margin: 15px 0;
    }
    li.filter-type-checkbox {
      label {
        display: inline-block;
        padding-left: 3px;
        vertical-align: text-top;
      }
    }

    label {
      font-weight: bold;
      display: block;
    }
    select {
      width: 100%;
      display: block;
    }

    button[type=submit] {
      @extend .btn;
      @extend .btn-block;
      @extend .btn-primary;

      margin-top: 20px;
      margin-bottom: 10px;
    }

    .button-reset {
      @extend .btn;
      @extend .btn-block;
      @extend .btn-danger;
    }
  }

  .need-count {
    margin-bottom: 10px;
    font-size: 22px;

    em {
      font-weight: bold;
      font-size: 48px;
      line-height: 1em;
      font-style: normal;
      padding-right: 2px;
    }
  }
}

ul.need-list {
  padding-left: 0;
}

.need-row {
  border: 1px solid #eee;
  display: block;
  list-style: none;
  margin-bottom: 5px;
  border-radius: 4px;

  a {
    display: block;
    color: #000;
    background: #fff;
    overflow: auto;

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    background: $primary-color;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    color: $inverse-text-color;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 15px;

    .closed-label {
      display: inline-block;
      padding: 2px 5px;
      margin-left: 7px;
      vertical-align: text-bottom;

      background: rgba(0,0,0,0.2);
      font-size: 11px;
      text-transform: uppercase;
      color: #fff;
    }
  }
  h3 {
    float: left;
    padding: 13px 15px 15px;
    margin: 0;
    font-size: 20px;

    span {
      display: block;
      font-size: 12px;
      color: #999;
      margin-bottom: 1px;
      font-weight: normal;
    }
  }

  form.bookmark {
    float: right;

    .bookmark-icon {
      @extend .glyphicon;
      @extend .glyphicon-star;
      padding: 3px;
      margin: 7px;
    }

    .bookmark-selected {
      color: $primary-color;

      &:hover {
        color: #ddd;
      }
    }
    .bookmark-unselected {
      color: #ddd;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
