article.need {
  margin-top: 20px;
}

.need-header {
  @extend .row;

  margin-bottom: 15px;

  .the-need {
    @extend .col-md-8;

    font-size: 23px;
    line-height: 1.31579;
    margin: 0 0 10px;
    color: #000;

    em {
      font-style: normal;
      color: #c90c90;
    }
  }

  .status-and-actions {
    @extend .col-md-4;
  }
}

.need-actions > ul {
  float: right;
  padding: 0;

  > li {
    list-style: none;
    float: left;
    margin: 0 0 0 8px;
  }
}

.need-status {
  float: right;
  clear: right;

  margin: 21px 0 0;

  li {
    font-size: 15px;
    list-style: none;
    float: left;
    padding: 6px 8px;
    color: #fff;
    margin: 0 0 0 7px;

    &.decision_red {
      background: #dc1414;
    }
    &.decision_green {
      background: #23be04;
    }
  }
}

.closed-need {
  margin: 20px 0;

  .message {
    padding: 14px;
    background: #e72a2a;
    color: #fff;

    h2 {
      margin: 0 0 7px;
      font-size: 23px;
    }
    p {
      margin: 0;
      font-size: 15px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .reopen-action {
    border: 1px solid #eee;
    border-top: none;
    padding: 8px 8px 8px 14px;
    overflow: auto;

    p {
      font-size: 17px;
      padding: 6px 0 0;
      margin: 0;
      float: left;
    }

    input[type='submit'] {
      @extend .btn;
      @extend .btn-primary;
      float: right;
    }
  }
}

.need-organisations {
  @extend .muted;
  font-size: 19px;
  line-height: 1.31579 !important;
  margin-bottom: 5px;
}

.need-wrapper {
  p, ul, li {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.impact {
  padding: 0.1em 0 0.1em 1em;
  background-repeat: no-repeat;
  background-image: url("icon-important.png");
  @include image-2x( "icon-important@2x.png", 34px, 34px);
}

.impact p {
  padding: 0 1em 0 2em;
  font-weight: bold;
}

.big-number {
  font-size: 80px;
  font-weight: bold;
  line-height: 90px;
  color: $hm-government;
  margin-bottom: 30px;
}

.big-number-detail {
  font-size: 19px;
  line-height: 1.25;
  font-weight: normal;
  display: block;
  color: #000;
}

p.all-organisations {
  @extend .alert;
  @extend .alert-info;
}

ul.need-tags {
  padding: 0;

  > li {
    list-style: none;
  }
}
