.need-columns {
  .need, .activity {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    padding: 20px;
    height: 100%;
    overflow: scroll;
  }
  .need {
    left: 0;
    background: $primary-color;
    color: #fff;
    font-size: 15px;
  }
  .activity {
    right: 0;
  }

  h3 {
    font-size: 19px;
  }
}

.legislation, .other-evidence {
  @include need-info-panel-single-field;
}

.need-actions {
  overflow: auto;
  font-size: 13px;

  .left { float: left; }
  .right { float: right; }

  a {
    color: $inverse-text-color;
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
    text-decoration: none;

    &:hover {
      background: $header-border-color;
      color: #fff;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    margin: 0;

    span {
      @extend .glyphicon;
      padding-right: 4px;
      font-size: 11px;
    }
    &.edit span {
      @extend .glyphicon-pencil;
    }
    &.close-as-duplicate span {
      @extend .glyphicon-ban-circle;
    }
    &.all-needs {
      span {
        @extend .glyphicon-menu-left;
      }
      a {
        border: 1px solid $inverse-text-color;
        &:hover { border-color: $header-border-color; }
      }
    }
  }
}

.the-need {
  margin: 20px 5% 30px 0;
  font-size: 30px;
  line-height: 1.31579;

  em {
    font-style: normal;
  }
}

.need-tags {
  @include need-info-panel;

  > li {
    list-style: none;
    margin: 0 0 4px;
    padding: 12px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    &:last-of-type {
      border-bottom: none;
    }

    ul, h3 {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.3;
      font-size: 15px;
    }

    h3 {
      width: $panel-legend-width;
      margin: 0;
      font-weight: bold;
    }

    ul {
      padding-left: 0px;

      li {
        display: inline-block;
        padding: 3px 6px;

        background: rgba(255, 255, 255, 0.15);
        color: #fff;

        font-weight: bold;
        margin-right: 3px;
      }
    }
  }
}

.met-when {
  @include need-info-panel;
  @include need-info-panel-list;
}

.need-decisions {
  @include need-info-panel;
}

.need-status {
  margin: 15px 0 0;
  padding: 0;

  li {
    font-size: 15px;
    list-style: none;
    display: block;
    padding: 6px 12px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    overflow: auto;

    &:last-of-type {
      border-bottom: none;
    }

    h3, span, a {
      display: inline-block;
      font-size: 15px;
    }

    h3 {
      width: $panel-legend-width;
      font-weight: bold;
      margin: 7px 0 0;
    }
    span {
      width: 20%;
    }
    .no-decision {
      color: rgba(255, 255, 255, 0.4);
    }

    a {
      color: $inverse-text-color;
      padding: 5px 10px;
      border-radius: 4px;
      display: block;
      text-decoration: none;
      font-size: 13px;
      float: right;

      &:hover {
        background: $header-border-color;
        color: #fff;
      }

      .icon {
        @extend .glyphicon;
        @extend .glyphicon-pencil;
        padding-right: 4px;
        font-size: 11px;
        width: auto;
      }
    }

    &.decision_red {
      background: #dc1414;
    }
    &.decision_green {
      background: #23be04;
    }
  }
}

.closed-need {
  margin: 20px 0;

  .message {
    padding: 14px;
    background: $alert-color;
    color: #fff;

    h2 {
      margin: 0 0 7px;
      font-size: 23px;
    }
    p {
      margin: 0;
      font-size: 15px;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .reopen-action {
    background: $header-border-color;
    padding: 8px 8px 8px 14px;
    overflow: auto;

    p {
      font-size: 17px;
      padding: 6px 0 0;
      margin: 0;
      float: left;
    }

    input[type='submit'] {
      @extend .btn;
      @extend .btn-default;
      float: right;
    }
  }
}

.interactions {
  @include need-info-panel-single-field;
}

.big-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  margin-bottom: 20px;
  width: 50%;
  padding-right: 10%;
  float: left;

  &:nth-of-type(2n+1) {
    clear: left;
  }
}

.big-number-detail {
  font-size: 15px;
  line-height: 1.3;
  padding-top: 5px;
  font-weight: normal;
  display: block;
  color: #fff;
}
