<tr>
  <td><%= tag.name %></td>
  <td class="actions">
    <ul>
      <li><%= link_to 'edit', edit_settings_tag_type_tag_path(tag_type, tag) %></li>
      <li>
        <%= link_to 'delete', settings_tag_type_tag_path(tag_type, tag),
                              method: :delete,
                              data: {
                                confirm: 'Are you sure?'
                              } %>
       </li>
    </ul>
  </td>
</tr>
