<span class="feature-icon glyphicon glyphicon-check"></span>

<h2>This need will be met when a user can...</h2>

<p>How will you know when this need is being met?</p>

<p>Define the criteria for what a user should be able to do in order to have this need met.</p>

<p>This makes it easier for others in your organisation to check if the need is being met.</p>

<div class="example">
  <h2>Example</h2>

  <h3>
    As a UK resident<br>
    I need to register to vote<br>
    So that I can exercise my democratic rights
  </h3>

  <p>This need is met when the user:</p>
  <ul>
    <li>understands who is allowed to vote</li>
    <li>know that you have to be registered in order to vote</li>
    <li>knows what support is available at polling stations (eg for disabled people)</li>
  </ul>

  <p class="source"><a href="https://www.gov.uk/info/register-to-vote">gov.uk/info/register-to-vote</a></p>
</div>
