<% content_for :page_title, "##{need.need_id}: #{format_need_goal(need.goal)}" %>
<% content_for :navigation do %>
  <%= render partial: 'needs/navigation' %>
<% end %>

<article class="need">
  <section class="need-main need-criteria">
    <header>
      <h1>'Met when' criteria for this need</h1>
    </header>

    <% if need.met_when.any? %>
      <ul>
        <h2>This need is likely to be met when the user...</h2>
        <% need.met_when.each do |criterion| %>
          <li><%= criterion %></li>
        <% end %>
      </ul>
    <% else %>
      <p class="empty">This need has no 'met when' criteria.</p>
    <% end %>
  </section>
</article>
