<tr>
  <td><%= evidence_type.name %></td>
  <td><%= evidence_type.kind_text %></td>
  <td><%= evidence_type.description %></td>
  <td class="actions">
    <ul>
      <li><%= link_to 'edit', edit_settings_evidence_type_path(evidence_type) %></li>
    </ul>
  </td>
</tr>
