.settings {
  padding: 20px;

  header {
    @include header-panel-with-negative-margin;

    overflow: auto;

    h1 { float: left; }
    .actions { float: right; }
  }

  table.editable-resource-list {
    @extend .table;
    @extend .table-striped;

    .actions {
      text-align: right;

      ul {
        margin: 0;

        li {
          display: inline;
          padding: 0 0 0 4px;
        }
      }

      a {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-xs;

        &[data-method='delete'] {
          @extend .btn-danger;
        }
      }
    }
  }

  .delete-resource {
    margin-top: 60px;
    background: #fff;
    border: 1px solid #f6f6f6;
    border-left: 6px solid $alert-color;
    overflow: auto;
    padding: 10px 15px;

    .warning {
      float: left;
    }
    h2, p {
      margin: 5px 0;
    }

    .button_to {
      float: right;
      padding: 10px 15px;
    }
  }

}
