.settings {
  @extend .row;

  h1 {
    margin: 20px 0 40px;
  }

  nav {
    @extend .col-md-3;

    border-right: 1px solid #ddd;
    padding: 0;

    min-height: 20em;

    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 21px;
      padding: 5px;
      margin-bottom: 8px;
      border-bottom: 1px solid #ccc;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 4px 0;

        ul li {
          padding: 3px 5px;
          list-style: disc inside;
        }
      }
    }

  }

  .settings-area {
    @extend .col-md-9;
    padding: 0 20px;

    h1 {
      font-size: 25px;
      margin: 0 0 15px;
    }
  }

}
