<li class="feed-item">
  <p class="feed-metadata">
    <span class="date"><%= l item.created_at, format: :short_date %></span>
    <span class="time"><%= l item.created_at, format: :short_time %></span>
    <span class="author"><%= item.user.name %></span>
    <% if item.user.bot? %>
      <span class="bot-label">Bot</span>
    <% end %>
  </p>

  <div class="feed-content">
    <div class="inner">
      <%= render partial: "activity_items/items/#{item.item_type}", locals: { item: item } %>
    </div>
  </div>
</li>
