<% content_for :page_title, "Activity" %>
<%= render partial: "needs/breadcrumb", locals: { need: need, action: "Activity" } %>
<%= render :partial => "needs/need_header" %>

<article class="need">
  <div class="feed-add">
    <%= render partial: 'new_note_form', locals: { need: need } %>
  </div>

  <ul class="feed">
    <%= render partial: 'item', collection: activity_items %>
  </ul>
</article>
