/* ==========================================================================
   Colours
   ========================================================================== */

$primary-color: #676C67;
$primary-shadow-color: #797979;

$header-color: $primary-color;
$header-border-color: $primary-shadow-color;

$inverse-text-color: #FFD991;
$text-color: #000;

$alert-color: #c81d1d;
