/* ==========================================================================
   Colours
   ========================================================================== */

$hm-government: #0076c0; /* Light blue */

$primary-color: #1091c8;

$header-color: $primary-color;
$header-border-color: #085e82;

$inverse-text-color: #86d1f0;
