/* ==========================================================================
   Colours
   ========================================================================== */

$hm-government: #0076c0; /* Light blue */

$primary-color: #475882;

$header-color: $primary-color;
$header-border-color: #243251;

$inverse-text-color: #95b3e7;
