@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  background: #fbfbfb;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
  font-weight: bold;
  font-size: 23px;
}
