@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

body {
  background: #fbfbfb;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
  font-weight: bold;
  font-size: 23px;
}

.workflow {
  @extend .navbar;
  @extend .navbar-inverse;
  @extend .navbar-fixed-bottom;

  background: none;
  border-color: #dbdcdc;

  .bg {
    background: #eff0f4;
    opacity: 0.5;
    width: 100%;
    height: 51px;

    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}
