<tr>
  <td><%= statement.name %></td>
  <td><%= statement.description %></td>
  <td class="actions">
    <ul>
      <li><%= link_to 'edit or delete', edit_settings_proposition_statement_path(statement) %></li>
    </ul>
  </td>
</tr>
