<section class="tag">
  <header>
    <h1><%= tag_type.name %></h1>
  </header>

  <ul>
    <% tag_type.tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
</section>
